*{
    margin: 0;
    padding: 0;
}

.heading{
    color: #16169b;
    border-bottom: 2px solid #16169b;
    padding: 20px 50px;
    margin: 20px 20px;
    text-align: center;
    width: 90%;
}

.albums-div{
    background-color: #646363;
    margin: 30px 60px;
    border: 2px solid #b91c1c;
    /* width: 90%; */
}

.album{
    width: 40%;
    border: 2px solid #9c3232;
    margin: 20px 5px;
}

.image-div{
    border: 2px solid #fff;
    margin: 10px 20px;
    width: 95%;
    position: relative;
    top: 20%;
    left:0%;
}

.img-size{
    width: 43%;
    height: 280px;
    padding: 5px 6px;
    /* margin-bottom:20px; */
    outline: 2px solid #857f7f;
}

.album-ttile{
    background-color:#fff;
    color:#505064;
    text-align: center;
    font-weight: bold;
    font-size:25px;
    /* margin-top:20%; */
}

.album-misc__info{
    background-color:#fff;
    color:#505064;
    padding:2rem 2em;
    width:40%;
    height:70%;
    /* font-weight:bold; */
    /* font-size: 20px; */
    position: absolute;
    text-align: left;
    top: 1%;
    /* right:3%; */
    left:46%;
}

.album-genre{
    margin:0px 20%;
    padding:4px;
}

hr{
    margin: 20% auto;
    width:100%;
}

.album-releasedate{
    /* margin: 10% auto; */
}

.song-list__div{
    width:52%;
    background-color:#e3e3e4;
    position:absolute;
    right:4.7%;
    top:25.3%;
    padding:10px 5px;
}
.songs-list{
    list-style:square;
}